<% if controller_name == 'issues' && action_name == 'show' && User.current.allowed_to?(:view_schedule, @project) %>
<div class="redmine_recurring_tasks">
  <% if User.current.allowed_to?(:manage_schedule, @project) %>
    <div class="contextual">
      <% if @issue.weekly_schedule.present? %>
        <a href="<%= edit_weekly_schedule_path(@issue.weekly_schedule.id) %>"><%= l(:button_change) %></a>
      <% else %>
        <a href="<%= new_weekly_schedule_path(issue_id: @issue.id) %>"><%= l(:button_add) %></a>
      <% end %>
    </div>
  <% end %>

  <h3><%= l(:project_module_redmine_recurring_tasks) %></h3>

  <% if @issue.weekly_schedule.present? %>
    <ul>
      <% @issue.weekly_schedule.days.each do |field| %>
        <li>
          <%= WeeklySchedule.human_attribute_name(field) %>, <%= @issue.weekly_schedule.time.to_s(:time) %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
<% end %>